@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    background-color: #f5f5f5;
    color: #333;
  }
 
  .container {
    padding: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    font-family: 'Archivo Black', sans-serif;
    background: linear-gradient(to bottom, #52E3DB, #58AAD9);
    padding: 50px 0;
    border-radius: 20px 20px 0 0;
   
  }
 
  header h1 {
    font-size: 17px;
    color: rgb(37, 35, 35);
    margin-top: -50px;
    margin-left: 20px;
  }
 
  .back-button {
    position: absolute;
    left: 25px;
    background: none;
    border: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    margin-top: -50px;
  }
 
  .profile-section {
    margin-top: 20px;
    text-align: center;
  }
 
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #E4E4E4;
    margin: 0 auto;
    position: relative;
    margin-top: -65px;
    border: 4px solid white;
  }
 
  .avatar img {
    width: 100%;
    height: 100%;
  }
 
  .profile-name {
    font-size: 17px;
    margin-top: 10px;
    font-family: 'Archivo Black', sans-serif;
  }
  
  .treatment-section p{
    font-family: 'Archivo Black', sans-serif;
  }
 
  .treatment-section {
    margin-top: 80px;
    padding: 15px;
    width: 90%;
    border: 2px dashed rgb(109 93 93);
    border-radius: 25px;
    text-align: center;
  }
 
  .empty-message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .plus-icon {
    font-size: 30px;
    border: 2px solid rgb(109 93 93);
    border-radius: 50%;
    padding: 7px 15px;
    color: rgb(109 93 93);
    margin-bottom: 10px;
  }
 
  .empty-message p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
  }
 
  .add-button {
    background: linear-gradient(to bottom, #52E3DB, #58AAD9);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    
}

  .add-button:hover {
    background-color: #009fdf;
  }