body {
  background-color: #f5f5f5;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* ajuste de padding */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* ocupa toda a largura */
  background: linear-gradient(to bottom, #52E3DB, #58AAD9);
  padding: 20px 0; /* ajuste de padding */
  border-radius: 20px 20px 0 0;
}

header h1 {
  font-size: 24px; /* aumenta o tamanho da fonte */
  color: rgb(37, 35, 35);
}

.form-section {
  margin-top: 20px;
  width: 100%; /* ocupa toda a largura */
  text-align: left; /* alinha o texto à esquerda */
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.next-button {
  background: linear-gradient(to bottom, #52E3DB, #58AAD9);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.next-button:hover {
  background-color: #009fdf;
}
