@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Archivo Black', sans-serif;
    background-color: #ffffff;
    color: #333;
}
  
.container {
    padding: 20px;
}
  
header {
    display: flex;
}
  
h1 {
    font-size: 28px;
    font-weight: bold;
    margin-left: 15%;
}
  
.back-button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: -3%;
    color: #58AAD9;
}
  
.box {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 7%;
}
  
h2 {
    font-size: 18px;
    margin-top: -8%;
    margin-left: 3%;
}
  
.add-button {
    background-color: #58AAD9;
    color: white;
    padding: 10px 140px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6%;
    font-size: 16px;

}
  
.add-button:hover {
    background-color: #58AAD9;
}
  
.dots {
    font-size: 24px;
    color: #58AAD9;
    margin-left: 83%;

}