@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15%;
}

.back-button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #58AAD9;
}


.hygiene-form li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 23px;
    
}

.fezes-list {
    font-size: 20px;

}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px; 
}

select {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
}

.observacoes {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #33333311;
    width: 100%;
    height: 80px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#fezes-select {
    text-align: center;
    height: 30px;
    display: block;
    margin: 10px auto;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 100px;
}

.discard-button, .save-button {
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.discard-button {
    background-color: #DEDEDE;
    color: red;
}

.save-button {
    background-color: #58AAD9;
    color: white;
}

.toggle-button {
    background-color: white;
    border: none;
    text-align: left;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


.hygiene-form li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #58AAD9;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #58AAD9;
    border-color: #58AAD9;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    left: 4px;
    top: -2px;
}


.fezes-section, .urina-section {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    display: none;
}


.fezes-section.active {
    background-color: #eeeeee;
}


.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.odor-section, .coloracao-section {
    margin-top: 15px;
}


.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.odor-group {
    max-width: 300px;
}

.odor-group label {
    width: 45%;
    display: flex;
    align-items: center;
}


.coloracao-group {
    max-width: 400px;
}

.coloracao-group label {
    width: 30%;
    display: flex;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirm-buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: none
}

.confirm-yes {
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.1);
}


.confirm-no {
    color: rgb(20, 20, 20);
    background-color: rgba(255, 0, 0, 0.1);
}
