@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
    font-family:"Archivo Black", sans-serif;
    margin-bottom: 15px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #d9e3f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}


input {
    margin-top:15px;
    display: flex;
    width: 300px;
    padding: 10px;
    border: 2px solid #00cccc;
    border-radius: 10px;
    font-size: 16px;
}

select {
    width: 130px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #00cccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
    
}

.btn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a3a3;
}

