* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
   

    background-color: #f2f2f2;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    background: linear-gradient(to bottom, #52E3DB, #58AAD9);
    padding: 8px 10px;
    position: relative;
    font-size: 9px;
    color: #2e2e2e;
}

.container {
    width: 430px;
    height: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-size: 16px;
}

.header1 {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #292929;
    position: relative;
}

.input-section {
    padding: 15px;
}

.input-section input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-section label {
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
}

.save-option {
    padding: 10px 0;
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    margin-left: -200px;
}
.close-button {
    position: absolute;
    left: 16px;
    background: none;
    border: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
  }
.results {
    max-height: 500px;
    overflow-y: scroll;
}

.results p {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.results p:hover {
    background-color: #f2f2f2;
}

.results p:last-child {
    border-bottom: none;
}

.search-section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
 
.clear-button {
    position: absolute;
    right: 28px;
    top: 128px;
    background: none;
    border: none;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}

a {
 text-decoration: none;

}