* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333; 
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
  }
 
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, #52E3DB , #58AAD9);
    padding: 50px 0;
    border-radius: 20px 20px 0 0;
    position: relative;
    
  }
 
  header h1 {
    font-size: 17px;
    color: rgb(37, 35, 35);
    margin-top: -44px;
  }
   
  .close-button {
    position: absolute;
    left: 16px;
    background: none;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-top: -44px;
    color: rgb(37, 35, 35);

  }
  
  .tabs {
    position: relative;
    display: flex;
    margin-top: -45px;
   margin-left: 10px;
   margin-right: 10px;
  }
 
  .tab {
    flex: 1;
    padding: 8px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #f5f5f5;
    color: #666;
    cursor: pointer;
  }
 
  .tab.active {
    background-color: white;
    color: #00bfff;
    border-bottom: 2px solid white;
    border-radius: 10px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 130px;
    color: rgb(37, 35, 35);

  }
 
  .tab.disabled {
    background-color: #969696;
    color: #efeded;
    cursor: not-allowed;
    border-radius: 10px;
    font-size: 16px;
    width: 100px;
    opacity: 80%;
  }
   
  .form {
    width: 100%;
    margin-top: 20px;
  }
   
  h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 4px;
  }  
  .h2i {
    font-size: 32px;
    color: #333;
    margin-bottom: 4px;
    margin-top: 18px;
  }
   
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
   
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
   
  .checkbox-container input {
    transform: scale(2.0);
    margin-left: 10px;
  }
 .label2 {
    margin-left: 28px;
    font-size: 16px;
  }
  .dose-section, .interval-section, .time-section {
    margin-bottom: 20px;
    margin-top: 16px;
  }
  
   .dose{
    width: 200px;
   }
  .dose-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
   
  .control-button {
    background-color: #00bcd4;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    width: 25px;  /* Define uma largura suficiente para o botão ser quadrado */
    height: 25px; /* Define a altura igual à largura para fazer um quadrado */
    font-size: 19px;  /* Tamanho da fonte para que os símbolos + e - sejam visíveis */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px; /* Mantém os cantos levemente arredondados */
    margin: 0 5px; /* Espaçamento lateral entre os botões e o input */
}

   
  input[type="number"] {
    width: 110px;
    text-align: center;
    padding: 5px;
    margin: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
   
  .interval-options {
    display: flex;
    margin-bottom: 1px;
    margin-left: 73px;
    transform: scale(1.5);
  }
   
  .interval-options input {
    margin-right: 5px;
  }
   
  .interval-options label {
    font-size: 14px;
  }
   
  .subtext {
    color: #999;
    position: relative;
    font-size: 12px;
    margin-left: 190px;
  }
   
  .day-selection {
    margin-bottom: 20px;
    margin-top: -10px;
    font-style: italic;
    margin-left: 1px;
  }
   
  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 370px;
    height: 30px;
    gap: 10px;
    margin-top: 10px;
  }
   
  
   
  .meal-time-section {
    display: flex;
    flex-direction: column;

  }
   
  .meal-time-section label {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
  }
   
  .meal-time-section input[type="time"] {
    margin-left: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 190px;
    position: relative;
    
  }
  
   
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
   
  .submit-button:hover {
    background-color: #0097a7;
  }

  
   